*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-color: rgb(241, 164, 226);
    color: #fff;
    height: 90px;
    font-size: 50px;
    position: relative;
    padding: 1rem .5rem;
}

h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
    background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
  }

input,
button
{
    border:1px solid #ccc;
    font-size:5vw;
    line-height:7vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:1vw 0 0 1vw;
}
button
{
    border-radius:0 1vw 1vw 0;
}
#chats
{
    font-size:5vw;
}
#chats dt
{
    margin: 2vw 0;
    border:1px solid #333;
    border-radius:3vw;
    padding:1vw 3vw;
    display: inline-block;
}
#chats dt.self
{
  float:right;
  background-color:#fcc;
}
#chats dd
{
    clear:both;
    margin-left: 8vw;
    position: relative;
    background-color:rgb(241, 175, 227);
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dd.self
{
    margin-right: 8vw;
    margin-left: 0;
    background-color:#ccf;
}
#chats dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -7vw;
    border: 3vw solid transparent;
    border-right: 8vw solid rgb(241, 175, 227);
    transform: rotate(40deg);
    z-index: -1;
    width:0;
}
#chats dd.self::before
{
    right:-6vw;
    left:inherit;
    border-right: 3vw solid transparent;
    border-left: 8vw solid #ccf;
    transform: rotate(-40deg);
    z-index: -1;
}

#form
{
    display:none;
}