*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-color: rgb(224, 164, 226);
    color: #fff;
}
input,
button
{
    border:1px solid #ccc;
    font-size:5vw;
    line-height:7vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:5vw 0 0 5vw;
}
button
{
    border-radius:0 5vw 5vw 0;
}
#chats
{
    font-size:5vw;
}
#chats dt
{
    margin: 2vw 0;
    border:1px solid #333;
    border-radius:3vw;
    padding:1vw 3vw;
    display: inline-block;
}
#chats dd
{
    margin-left: 8vw;
    position: relative;
    background-color:#ccc;
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -7vw;
    border: 3vw solid transparent;
    border-right: 8vw solid #ccc;
    transform: rotate(40deg);
    z-index: -1;
}

#form
{
    display:none;
}

/*——————–
 吹き出しを作る
——————–*/
/* 全体のスタイル */
.kaiwa {
    margin-bottom: 25px;
  }
  /* 左画像 */
  .kaiwa-img-left {
    margin: 0;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: -70px;
  }
  /* 右画像 */
  .kaiwa-img-right {
    margin: 0;
    float: right;
    width: 60px;
    height: 60px;
    margin-left: -70px;
  }
  .kaiwa figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
  }
  /* 画像の下のテキスト */
  .kaiwa-img-description {
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom: 15px;
  }
  /* 左からの吹き出しテキスト */
  .kaiwa-text-right {
    position: relative;
    margin-left: 80px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    margin-right: 12%;
    float: left;
  }
  /* 右からの吹き出しテキスト */
  .kaiwa-text-left {
    position: relative;
    margin-right: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #9cd6e7;
    margin-left: 12%;
    float: right;
  }
  p.kaiwa-text {
    margin: 0 0 20px;
  }
  p.kaiwa-text:last-child {
    margin-bottom: 0;
  }
  /* 左の三角形を作る */
  .kaiwa-text-right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    left: -20px;
  }
  .kaiwa-text-right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #eee;
    top: 15px;
    left: -19px;
  }
  /* 右の三角形を作る */
  .kaiwa-text-left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    right: -20px;
  }
  .kaiwa-text-left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #9cd6e7;
    top: 15px;
    right: -19px;
  }
  /* 回り込み解除 */
  .kaiwa:after,.kaiwa:before {
    clear: both;
    content: "";
    display: block;
  }